<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="p-6 text-6xl" style="color: steelblue;">Welcome To Cineverse</span>
            <div class="p-6 text-6xl" style="font-size: 30px; color: crimson;">We believe in the magic of cinema</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Step into a world where stories come alive, emotions run deep, and dreams take flight. Our passion for film drives us to curate an unforgettable cinematic experience just for you.</p>
            <p class="mt-0 mb-4 text-700 line-height-3">Join us on this cinematic journey and let Cineverse be your destination for unforgettable movie moments.</p>

            <button class="login-button" [routerLink]="['/login']">Login Now</button>

        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/images/bb.png" alt="Image" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

